// Global default params, used in configs
params {

  // Trimming
  length = 20
  quality = 20

  // Alignment
  star_min_overlap = 10 // STAR minimum overlap bases for merging overlapping paired-end reads
  star_max_overlap_mismatch = 0.01 // STAR maximum mismatch ratio in the overlap region for merging overlapping paired-end reads
  align_intron_max = 1

  // Read Counting
  fc_extra_attributes = 'gene_name'
  fc_group_features = 'gene_id'
  fc_count_type = 'exon'
  
  //deseq2
  deseq2_fdr = 0.05
  deseq2_lfc = 0.585

  //gprofiler
  gprofiler_fdr = 0.05
  gprofiler_organism = 'hsapiens'

  //merge_counts
  bam_suffix = "_Aligned.sortedByCoord.out.bam"
}

// fc_biotype_count_type = 'exon' // if using supplemental rRNA gtf files, only 'gene' and 'exon' are available
  fc_biotype_group_features = 'gene_biotype'
  hemoglobin = false // Create a special biotype for hemoglobin genes
  skip_biotype_qc = false
  gene_detection_method = 'reads' // Only 'reads', 'fpkm', 'tpm' are valid options